html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: gray !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Menu {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 10;
}

.menubutton {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 37px;
  height: 37px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  border: none;
  outline: none;
}

.menubutton svg {
  top: 2px;
  right: 4px;
  position: absolute;
  color: black;
  transition: opacity 200ms linear;
}

svg.open-icon {
  opacity: 1;
}

svg.close-icon {
  right: 7px;
  opacity: 0;
}

.menu-open svg.open-icon {
  opacity: 0;
}

.menu-open svg.close-icon {
  opacity: 1;
}

.menubutton:focus {
  outline: none;
}

.menubutton:hover {
  background-color: rgba(255,255,255,0.5);
}

.MenuContent {
  width: 0px;
  height: 600px;
  border-radius: 10px;
  background-color: rgba(240,240,240,0.95);
  transition: width 200ms ease-in-out;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.MenuContent div {
  flex-grow: 10;
}
.MenuContent button {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80%;
}

.menu-open .MenuContent {
  width: 400px;
}

.Lobby {
  height: 100%;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#inputGameCode, #inputNick {
  width: 4em;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

#inputNick {
  width: 8em;
}

.text-muted.text-gray {
  color: lightgray !important;
  margin-bottom: 20px;
}

#rejoinGameTable {
  background-color: rgba(255,255,255,0.5);
}

#rejoinGameTable tr:not(:first-child) {
  cursor: pointer;
}

#rejoinGameTable.table-hover tbody tr:first-child:hover {
  color: initial;
  background-color: initial;
}

#rejoinGameTable .exit-button {
  margin-left: 30px;
}