html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: gray !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Lobby {
  height: 100%;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#inputGameCode, #inputNick {
  width: 4em;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

#inputNick {
  width: 8em;
}

.text-muted.text-gray {
  color: lightgray !important;
  margin-bottom: 20px;
}

